@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Sansita&display=swap');

:root {
  --primary: #2cbfaa;
  --secondary: #0eb75c;

  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: 'Noto Serif';
  color: var(--secondary);
  background: #ffffff;
}

.app-logo {
  padding: 1rem 8rem;
}
.app-logo img {
  /* padding: 1rem 6rem;
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
  text-decoration: none; */
  width: 4rem;
  margin: 0 auto;
  opacity: 0.7;
  transition: all ease-in 0.7s;
}
.app-logo img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover {
  background: var(--primary);
  color: white;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  max-width: 940px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  box-shadow: 18px 18px 20px #d1d9e6, -18px -18px 20px #ffffff;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-in 0.7s;
}
.img-wrap img:hover {
  transform: scale(1.2);
}
/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 10vh auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.paper {
  color: #ff4a4a;
}

/* Home */

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 8rem;
  grid-gap: 5rem;
  box-shadow: 4px 2px 6px rgba(72, 100, 125, 0.3),
    inset -2px -2px 6px rgba(72, 100, 125, 0.1);
}

.home .hero-img img {
  width: 100%;
}
.home h1 {
  font-size: 2rem;
}
.hero-info p {
  font-size: xx-small;
  color: slategray;
  text-align: left;
  width: 70%;
}

.startBtn {
  width: 200px;

  text-decoration: none;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  font: x-small;
  font-family: 'Sansita', sans-serif;
  transition: all ease-in 0.7s;
  opacity: 0.8;
  background: #ffffff;
  box-shadow: 4px 2px 6px rgba(72, 100, 125, 0.3),
    inset -2px -2px 6px rgba(72, 100, 125, 0.1);
  color: var(--secondary);
}
.startBtn:hover {
  background: var(--secondary);
  color: #ffffff;
}
